{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static',filename='main_file1.js') }}"></script>
{% endblock %}
{% block body %}
<hr>
<div>
  <h1 style="display: inline;">Valoración de Opciones</h1>
  <h2 style="display: inline;">(Modelos Sin Dividendos)</h2>
  <a class="btn btn-success float-right" id="make_calulation" style="display: inline;">+Calculate</a>
  <br>
  <a class="btn btn-primary float-right" id="reset_form" style="display: inline;">Reset Form</a>
</div>
<br>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form class="form-container" style="padding: 2%;">
        <label for="option_type">Tipo de Opción a Valorar</label>
        <div class="form-group" style="width: 60%;">
          <select name="option_type" id="option_type" multiple>
          </select>
        </div>
        <div class="form-group">
          <label for="option_spot">Spot Value de La Opción</label>
          <input type="number" class="form-control" name="option_spot" id="option_spot" placeholder="Spot de La Opción">
        </div>
        <div class="form-group">
          <label for="option_strike">Strike Value de La Opción</label>
          <input type="number" class="form-control" name="option_strike" id="option_strike" placeholder="Strike">
        </div>
        <div class="form-group">
          <label for="option_rate">Tasa de interes de La Opción</label>
          <input type="number" class="form-control" min="-1" max="1" step="0.00000001" name="option_rate"
            id="option_rate" placeholder="Interes Continuo">
        </div>
        <div class="form-group">
          <label for="option_sd_risk">Volatilidad</label>
          <input type="number" class="form-control" min="0" max="1" step="0.000000001" name="option_sd_risk"
            id="option_sd_risk" placeholder="Volatilidad">
        </div>
        <div class="form-group">
          <label for="option_time_years">Tiempo en días</label>
          <input type="number" class="form-control" name="option_time_years" id="option_time_years"
            placeholder="Tiempo en días">
        </div>
        <div class="form-group">
          <label for="option_node_calc">Nodos</label>
          <input type="number" class="form-control" name="option_node_calc" id="option_node_calc"
            placeholder="Número de Nodos de Valoración">
        </div>
      </form>
    </div>
    <div class="col">
      <div style="visibility: hidden; display: inline; align-content: center;" class="container-fluid" id="option_value_result">
        <canvas id="myChart" width="400" height="400"></canvas>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Type_Valuation</th>
              <th scope="col">Value Result</th>
            </tr>
          </thead>
          <tbody id="results_adding">
        <!--    <tr>
               Write your comments here 
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}